<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="35">

    <p>
        <mat-toolbar color="accent"><span>Login</span> <span class="ex-spacer"></span><h4>New User?<button mat-raised-button type="submit" (click)="reg()">Register</button></h4>
      </mat-toolbar>
    </p>
  <div class="child-div">
    <form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="loginform" (ngSubmit)="submit()">
      <mat-form-field>
        <input matInput placeholder="Username" formControlName="username">
       <span style="color:red;" *ngIf= "loginform.controls['username'].invalid && (loginform.controls['username'].dirty || loginform.controls['username'].touched)">username required</span> 
      
      </mat-form-field>
      <mat-form-field>
        <!--<input  placeholder="password" formControlName="password" matInput [type]="hide ? 'password' : 'text'" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"  [attr.aria-pressed]="hide">
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>-->
        <input  matInput [type]="pwToggle.type" placeholder="Password" formControlName="password">
        <button mat-icon-button matSuffix appPasswordToggle #pwToggle="appPasswordToggle"><mat-icon>{{pwToggle.icon}}</mat-icon></button>
       <span style="color:red;" *ngIf="loginform.controls['password'].invalid && (loginform.controls['password'].dirty || loginform.controls['password'].touched)">password
          required</span>
      </mat-form-field>
      <p align="right"> <button mat-raised-button color="primary" class="log-button" type="submit" >Login</button></p>
    </form>
  </div>


  </mat-card>
</div>

<!--<form [formGroup]="loginform" (ngSubmit)="submit()">
  <div style="border:1px solid black;height: 50%;width:30%;padding: 10px; ">
    <label>UserName</label><input type="text" formControlName="username">
   <!-- <span style="color: red;" *ngIf="isSubmitted && f.username?.errors?.required">name
      required</span><br><br>
    <label>Password</label><input type="password" formControlName="password">
    <!--<span style="color: red;" *ngIf="isSubmitted && f.password?.errors?.required">password required</span>

    <button type="submit">submit</button>
  </div>
</form>-->